*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
*.py[cd]
.emacs.desktop
*.dat
/games
async-bytecomp.log
anaconda-mode
.mc-lists.el
.emacs.desktop*
